{% extends 'HDBase.html' %}
{% load static %}
{% block body %}



<div class="row">
    <div class="col-lg-12 d-flex flex-column">
      <div class="row flex-grow">
        <div class="col-12 grid-margin stretch-card">
          <div class="card card-rounded">
            <div class="card-body">
              <div class="d-sm-flex justify-content-between align-items-start">
                <div>
                  <h4 class="card-title card-title-dash">Client Registeration</h4>
                  <p class="card-subtitle card-subtitle-dash">You have 50 registered clients</p>
                </div>
                <div>
                  <a href="{% url 'HD_client_list' %}" class=" btn btn-sm btn-primary"><span class="mdi mdi-reply"></span>
                    <span class="text-small letter-sp ml-04"> Back</span>
                  </a>
                </div>
               
              </div>

              <!-- Registration form -->
              <form>
                {% csrf_token %}

                <div class="row">
                    <div class="col-sm-12">
                    <div class="home-tab">
                        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active ps-0" id="basic-tab" data-bs-toggle="tab" href="#basic" role="tab"
                                aria-controls="overview" aria-selected="true">Basic Details</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" id="bussiness-tab" data-bs-toggle="tab" href="#bussiness" role="tab"
                                aria-selected="false">Business Details</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" id="work-tab" data-bs-toggle="tab" href="#work-task" role="tab"
                                aria-selected="false">Work and Task </a>
                            </li>
                            
                            
                        </ul>
                        </div>
                        <div class="tab-content tab-content-basic">
                            <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="BasicDetails">
                                <h4>Basic Details</h4>
                                <div class="row">
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="Client-name" class="col-form-label">Client Name* </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;" placeholder="enter client name" required >
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="Email-name" class="col-form-label">Email Id* </label>
                                            <input type="email" class="form-control" style="color: #b1b1b4;" placeholder="emailid@gmail.com" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="Number-name" class="col-form-label">Contact Number* </label>
                                            <input type="tel" class="form-control" style="color: #b1b1b4;"  placeholder="enter client contact number " required pattern="[6-9]\d{9}" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="Address1-name" class="col-form-label">Address Line - 1 </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter client address line - 1 " required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="Address2-name" class="col-form-label">Address Line - 2 </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter client address line - 2 " required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="Address3-name" class="col-form-label">Address Line - 3 </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter client address line - 3 " required>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-3  flex-column">
                                        <div class="form-group">
                                            <label for="Place-name" class="col-form-label">Place </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter  place " >
                                        </div>
                                    </div>
                                    <div class="col-lg-3  flex-column">
                                        <div class="form-group">
                                            <label for="District-name" class="col-form-label">District </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter  district " >
                                        </div>
                                    </div>
                                    <div class="col-lg-2  flex-column">
                                        <div class="form-group">
                                            <label for="State-name" class="col-form-label">State </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter  state " >
                                        </div>
                                    </div>
                                    <div class="col-lg-2  flex-column">
                                        <div class="form-group">
                                            <label for="Pincode-name" class="col-form-label">Pincode </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter  pincode" >
                                        </div>
                                    </div>
                                    <div class="col-lg-2  flex-column">
                                        <div class="form-group">
                                            <label for="Image-name" class="col-form-label"> Image</label>
                                            <input type="file" class="form-control" >
                                        </div>
                                    </div>
                                </div>

                                <p class="mt-2 text-small">*Note: Complete the Business Details Form and Work Task Form for Registration. <span class="mdi mdi-arrow-right text-secondary"></span></p>
                                
                            </div>
                           
                            <div class="tab-pane fade " id="bussiness" role="tabpanel" aria-labelledby="BussinessDetails">
                                <h4>Business Details</h4>
                                <div class="row">
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="Company-name" class="col-form-label">Company \ Business Name* </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;" placeholder="enter name" required >
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="CEmail-name" class="col-form-label">Email Id* </label>
                                            <input type="email" class="form-control" style="color: #b1b1b4;" placeholder="emailid@gmail.com" >
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="CNumber-name" class="col-form-label">Contact Number* </label>
                                            <input type="tel" class="form-control" style="color: #b1b1b4;"  placeholder="enter  contact number " required pattern="[6-9]\d{9}" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12  flex-column">
                                        <div class="form-group">
                                            <label for="About-text" class="col-form-label ">More About Company \ Business </label>
                                            <textarea class="form-control" style="height: 140px;  color: #b1b1b4;" ></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="website-url" class="col-form-label">Company \ Business website url  </label>
                                            <input type="url" class="form-control" style="color: #b1b1b4;" placeholder="https://websiteurl.com"  >
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="CAddress1-name" class="col-form-label">Address Line - 1 </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter  address line - 1 " required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="CAddress2-name" class="col-form-label">Address Line - 2 </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter  address line - 2 " required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="CAddress3-name" class="col-form-label">Address Line - 3 </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter  address line - 3 " required>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="CPlace-name" class="col-form-label">Place </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter  place " >
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="CDistrict-name" class="col-form-label">District </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter  district " >
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="CState-name" class="col-form-label">State </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter  state " >
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="CPincode-name" class="col-form-label">Pincode </label>
                                            <input type="text" class="form-control" style="color: #b1b1b4;"  placeholder="enter  pincode" >
                                        </div>
                                    </div>
                                    <div class="col-lg-4  flex-column">
                                        <div class="form-group">
                                            <label for="logo-name" class="col-form-label"> Logo</label>
                                            <input type="file" class="form-control" >
                                        </div>
                                    </div>
                                </div>

                                <p class="mt-2 text-small">*Note: Complete the  Work Task Form for Registration. <span class="mdi mdi-arrow-right text-secondary"></span></p>
                            </div>
                            <div class="tab-pane fade " id="work-task" role="tabpanel" aria-labelledby="WorkTaskDetails">
                                <h4>Work Details</h4>
                                <div class="row">
                                    <div class="col-lg-3  flex-column">
                                        <div class="form-group">
                                            <label for="Start-name" class="col-form-label">Work Start From* </label>
                                            <input type="date" class="form-control" style="color: #b1b1b4;"  required />
                                        </div>
                                    </div>
                                    <div class="col-lg-3  flex-column">
                                        <div class="form-group">
                                            <label for="End-name" class="col-form-label">Work End On*</label>
                                            <input type="date" class="form-control" style="color: #b1b1b4;" placeholder="emailid@gmail.com" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3  flex-column">
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Work Priority</label>
                                        
                                            <select class="form-control" style="color: #b1b1b4; " required>
                                                <option value="High"> High </option>
                                                <option value="Medium" selected> Medium </option>
                                                <option value="Low"> Low</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3  flex-column">
                                        <div class="form-group">
                                            <label for="CNumber-name" class="col-form-label">Any File  </label>
                                            <input type="file" class="form-control" style="color: #b1b1b4;"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-12  flex-column">
                                        <div class="form-group">
                                            <label for="About-text" class="col-form-label ">Anything More About Work  </label>
                                            <textarea class="form-control" style="height: 150px;  color: #b1b1b4;" ></textarea>
                                        </div>
                                    </div>
                                </div>

                                <h5 class="mt-2">Task Details</h5>

                                <p><span class="mdi mdi-checkbox-marked-outline mr-05"> </span>Check the tasks listed below that are required for the client. </p>

                                <ul class="task-ul">
                                    <li>
                                        <div class="form-check form-check-flat mt-0">
                                            <label class="form-check-label">
                                            <input type="checkbox" name="task-checklist" class="form-check-input" value="Email Marketing " aria-checked="false"><i
                                                class="input-helper"></i> Email Marketing 
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                          <input type="checkbox" name="task-checklist" class="form-check-input" aria-checked="false"><i
                                            class="input-helper"></i> Mobile Marketing </label>
                                      </div>
                                    </li>
                                    <li>
                                        <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                          <input type="checkbox" name="task-checklist" class="form-check-input" aria-checked="false"><i
                                            class="input-helper"></i> SMO POST </label>
                                      </div>
                                    </li>
                                </ul>
                               
                                <p><span class="mdi mdi-file-check mr-05"> </span>If the client needs any additional tasks that are not listed above, you can add them. </p>
                                
                               
                                <div class="form-group d-flex">
                                        
                                        <input type="text" class="form-control border-normal" id="new-task" style="color: #b1b1b4;" >
                                        <button type="button" class="btn btn-sm btn-danger ml-04" id="task-add-btn" onclick="addTask()">
                                            <span class="mdi mdi-plus text-white"></span>
                                        </button>
                                </div>
                               
                               
                                <ul class="lead-task-ul mt-2">
                                    <li>
                                        <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                          <input type="checkbox" name="task-checklist" class="form-check-input" aria-checked="false"><i
                                            class="input-helper"></i> Lead Generation </label>
                                      </div>

                                      <ul class="lead-sub-ul"></ul>

                                    </li>
                                
                                </ul>
                                <p><span class="mdi mdi-file-document  mr-05 mt-2"> </span>
                                    If the client requires lead generation for various titles, you can include them.
                                    <span class="text-small">( Make sure you have checked the lead generation checkbox.)</span>
                                 </p>
                                <div class="form-group d-flex">
                                        
                                    <input type="text" class="form-control border-normal" id="new-lead-task" style="color: #b1b1b4;" >
                                    <button type="button" class="btn btn-sm btn-danger ml-04" id="leadtask-add-btn" onclick="addleadTask()">
                                        <span class="mdi mdi-plus text-white"></span>
                                    </button>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div>
                            <button type="reset" class="btn btn-sm btn-light"> Clear</button>
                            <button type="submit" class="btn btn-sm btn-success bg-success"> Save</button>
                        </div>
                    </div>
                    </div>
                </div>

              </form>

             <!-- End Registration form -->

            </div>
          </div>
        </div>
      </div>
      
    </div>
</div>


<!-- Script to add new task -->
<script>
    function addTask() {
        // Get the input value
        var newTaskValue = document.getElementById('new-task').value;

        // Check if newTaskValue is available
        if (newTaskValue.trim() !== '') {
            // Create a new list item
            var newListItem = document.createElement('li');

            // Create the form-check div and label
            var formCheckDiv = document.createElement('div');
            formCheckDiv.className = 'form-check form-check-flat mt-0 d-flex';

            var label = document.createElement('label');
            label.className = 'form-check-label';

            // Create the checkbox
            var checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.name = 'task-checklist'
            checkbox.className = 'form-check-input';
            checkbox.setAttribute('aria-checked', 'false');

            // Create the input-helper
            var inputHelper = document.createElement('i');
            inputHelper.className = 'input-helper';

            // Create the "Remove" button
            var removeButton = document.createElement('button');
            removeButton.className = 'btn remove-task-btn btn-sm ml-04';
            removeButton.innerHTML = '<span class="mdi mdi-minus text-white"></span>';
            removeButton.type = 'button'
            removeButton.onclick = function() {
                removeTask(this);
            };

            // Append the elements to the DOM
            label.appendChild(checkbox);
            label.appendChild(inputHelper);
            label.appendChild(document.createTextNode(' ' + newTaskValue));
            formCheckDiv.appendChild(label);
            formCheckDiv.appendChild(removeButton);
            newListItem.appendChild(formCheckDiv);

            // Append the new list item to the task-ul
            document.querySelector('.task-ul').appendChild(newListItem);

            // Clear the input field
            document.getElementById('new-task').value = '';
        } else {
            // Handle the case when newTaskValue is not available
            alert('Please enter a valid task.');
        }
    }

    function removeTask(button) {
        var taskLi = button.closest('li');
        var taskUl = document.querySelector('.task-ul');

        if (taskLi) {
            taskUl.removeChild(taskLi);
        } else {
            alert('Task not found.');
        }
    }


    function addleadTask() {
        // Get the input value
        var newTaskValue = document.getElementById('new-lead-task').value;

        // Check if newTaskValue is available
        if (newTaskValue.trim() !== '') {
            // Create a new list item
            var newListItem = document.createElement('li');

            // Create the form-check div and label
            var formCheckDiv = document.createElement('div');
            formCheckDiv.className = 'form-check form-check-flat mt-0 d-flex';

            var label = document.createElement('label');
            label.className = 'form-check-label';

            // Create the checkbox
            var checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.className = 'form-check-input';
            checkbox.setAttribute('aria-checked', 'false');
            checkbox.name = 'lead-checklist'

            // Create the input-helper
            var inputHelper = document.createElement('i');
            inputHelper.className = 'input-helper';

            // Create the "Remove" button
            var removeButton = document.createElement('button');
            removeButton.className = 'btn remove-task-btn btn-sm ml-04';
            removeButton.innerHTML = '<span class="mdi mdi-minus text-white"></span>';
            removeButton.type = 'button'
            removeButton.onclick = function() {
                removeleadTask(this);
            };

            // Append the elements to the DOM
            label.appendChild(checkbox);
            label.appendChild(inputHelper);
            label.appendChild(document.createTextNode(' ' + newTaskValue));
            formCheckDiv.appendChild(label);
            formCheckDiv.appendChild(removeButton);
            newListItem.appendChild(formCheckDiv);

            // Append the new list item to the task-ul
            document.querySelector('.lead-sub-ul').appendChild(newListItem);

            // Clear the input field
            document.getElementById('new-lead-task').value = '';
        } else {
            // Handle the case when newTaskValue is not available
            alert('Please enter a valid task.');
        }
    }

    function removeleadTask(button) {
        var taskLi = button.closest('li');
        var taskUl = document.querySelector('.lead-sub-ul');

        if (taskLi) {
            taskUl.removeChild(taskLi);
        } else {
            alert('Task not found.');
        }
    }
</script>


{% endblock %}