{% extends 'HDBase.html' %}
{% load static %}
{% block body %}


<div class="row">
    <div class="col-sm-12">
      <div class="home-tab">
        
        <div class="tab-content tab-content-basic">
          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
           
            <div class="row">
              <div class="col-lg-12 d-flex flex-column">
                <div class="row flex-grow">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-start">
                          <div>
                            <h4 class="card-title card-title-dash">Schedules</h4>
                            
                          </div>
                          <div>
                            <button type="button" class="btn btn-primary text-white" id="#add-schedule"  onclick="showModal()">
                              <i class="mdi mdi-calendar-multiple-check"></i>Add  Schedule
                            </button>
                          </div>
                            
                         
                        </div>

                        <div class="row flex-grow mt-3 ">
                            <div class="col-lg-4 col-md-5 col-sm-6 grid-margin ">
                              <div class="card card-rounded ">
                                <div class="card-body ">
                                  <div class="d-sm-flex justify-content-between align-items-start border-bottom ">
                                    <div class="mt-2">
                                      <p class="welcome-sub-text">
                                        Show unscheduled</p>
                                      
                                    </div>
                                    <div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                              <input type="checkbox" class="form-check-input" name="" id="" value="" checked>
                                              
                                            <i class="input-helper"></i></label>
                                        </div>
                                    </div>
                                
                                  </div>
                                  <div id="dragula-left" class="py-2">
                                    <div class="card  mb-2">
                                        <a href="#" class="text-decoration-none">
                                            <div class="card-body p-3">
                                                <div class="media">
                                                    <i class="ti-user icon-sm align-self-center me-3"></i>
                                                    <div class="media-body">
                                                    <h6 class="mb-1">Project details</h6>
                                                    </div>
                                                </div>                              
                                            
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card  mb-2">
                                        <div class="card-body p-3">
                                            <a href="#" class="text-decoration-none">
                                                <div class="media">
                                                    <i class="ti-user icon-sm align-self-center me-3"></i>
                                                    <div class="media-body">
                                                    <h6 class="mb-1">Shyam Krishana</h6>
                                                    </div>
                                                </div>  
                                            </a>                                        
                                        </div>
                                    </div>
                                  </div>
                                         
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-1 grid-margin">
                                <div class="card card-rounded">
                                  <div class="card-body">
                                    <form action="#" method="post" class="" >
                                        {% csrf_token %}
                                        <div class="row mb-2">
                                            <div class="col-lg-2 col-md-2 col-sm-12  d-sm-flex">
                                                <a href="" class="btn mr-1">
                                                    <span class="mdi mdi-chevron-left "></span>
                                                
                                                </a>
                                                <a href="" class="btn">
                                                    
                                                    <span class="mdi mdi-chevron-right"></span>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-8 col-sm-12">
                                            </div>
                                            <div class="col-lg-3 col-md-5 col-sm-6">
                                                <div id="datepicker-default" class="input-group date datepicker mt-1 mr-1">
                                                    <input type="date" class="form-control " style="font-size: 12px;" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-5 col-sm-6">
                                                <div id="" class="input-group date datepicker mt-1">
                                                    <input type="date" class="form-control" style="font-size: 12px;" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-12">
                                                <div class="ml-04 mt-2">
                                                    <button class="btn" type="submit">
                                                        <span class="mdi mdi-magnify"></span>
                                                    </button>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                              
                                 
                                      <div class="row ">
                                        <div class="col-lg-4 col-md-12 col-sm-12 ">
                                            <div class="d-flex justify-content-center align-items-start  border-bottom mt-2">
                                                
                                                <h2 class="fw-bold mr-1">17</h2> 
                                               
                                                <div>
                                                    <p>Sat</p>
                                                    <p>DEC</p>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-lg-12 col-md-6 col-sm-12 ">
                                                    <div class="card bg-dark mt-2 mb-1" style="border-radius:2px; box-shadow:none">
                                                        <div class="card-body">
                                                            <div class="">
                                                                <h6> Shyam Krishana  <span class="mdi mdi-checkbox-blank-circle text-danger ml-04" style="font-size:8px;"></span></h6>  
                                                                <p class="off-white"> 09:00 am - 09:30 am</p>
                                                                <p> Task : Digital marketing work lead collection </p>
                                                               
                                                            </div>
                                                        
                                                            <div class="d-sm-flex">
                                                                <a class="btn"><span class="mdi mdi-pencil"></span></a>
                                                                <a class="btn"><span class="mdi mdi-delete"></span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="col-lg-12 col-md-6 col-sm-12 ">
                                                    <div class="card bg-dark mt-2 mb-1" style="border-radius:2px; box-shadow:none">
                                                        <div class="card-body">
                                                            <div class="">
                                                                <h6> Deepa Vivek  <span class="mdi mdi-checkbox-blank-circle text-success ml-04" style="font-size:8px;"></span></h6>  
                                                                <p class="off-white"> 11:00 am - 12:30 am</p>
                                                                <p> Task : Digital marketing work lead collection and meeting with team members. </p>
                                                               
                                                            </div>
                                                        
                                                            <div class="d-sm-flex">
                                                                <a class="btn"><span class="mdi mdi-pencil"></span></a>
                                                                <a class="btn"><span class="mdi mdi-delete"></span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="d-flex justify-content-center align-items-start  border-bottom mt-2">
                                                <h2 class="fw-bold mr-1">16</h2>
                                                <div>
                                                    <p>Fri</p>
                                                    <p>DEC</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12">
                                            <div class="d-flex justify-content-center align-items-start border-bottom mt-2">
                                                <h2 class="fw-bold mr-1">15</h2>
                                                <div>
                                                    <p>Thu</p>
                                                    <p>DEC</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    
                                    
                                      </div>
                                      
                                  
                                  </div>
                                </div>
                              </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
</div>




  <div class="modal " id="add-schedule" tabindex="-1" aria-labelledby="ModalLabel" aria-modal="true" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="#" method="post">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Add Schedule</h5>
            <button type="button" class="btn-close" onclick="closeModal()" >
              <span class="mdi mdi-close mdi-18px"></span>
            </button>
          </div>
          <div class="modal-body">
          
              <div class="row">
                <div class="col-lg-6  flex-column">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Employee :</label>
                  
                    <select class="form-control" style="color: #c0c0c1; " required>
                      <option value=""> select employee </option>
                      <option> Shebin Shaji</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3  flex-column">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Start Time :</label>
                    <select class="form-control" style="color: #c0c0c1; ">
                      <option> 09:00 am</option>
                      <option> 09:30 am</option>
                      <option> 10:00 am</option>
                      <option> 10:30 am</option>
                      <option> 11:00 am</option>
                      <option> 11:30 am</option>
                      <option> 12:00 pm</option>
                      <option> 12:30 pm</option>
                      <option> 01:00 pm</option>
                      <option> 01:30 pm</option>
                      <option> 02:00 pm</option>
                      <option> 02:30 pm</option>
                      <option> 03:00 pm</option>
                      <option> 03:30 pm</option>
                      <option> 04:00 pm</option>
                      <option> 04:30 pm</option>
                      <option> 05:00 pm</option>
                      <option> 05:30 pm</option>
                      <option> 06:00 pm</option>
                      <option> 06:30 pm</option>
                      <option> 07:00 pm</option>
                      <option> 07:30 pm</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3  flex-column">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">End Time :</label>
                    <select class="form-control" style="color: #c0c0c1; ">
                      <option> 09:30 am</option>
                      <option> 09:30 am</option>
                      <option> 10:00 am</option>
                      <option> 10:30 am</option>
                      <option> 11:00 am</option>
                      <option> 11:30 am</option>
                      <option> 12:00 pm</option>
                      <option> 12:30 pm</option>
                      <option> 01:00 pm</option>
                      <option> 01:30 pm</option>
                      <option> 02:00 pm</option>
                      <option> 02:30 pm</option>
                      <option> 03:00 pm</option>
                      <option> 03:30 pm</option>
                      <option> 04:00 pm</option>
                      <option> 04:30 pm</option>
                      <option> 05:00 pm</option>
                      <option> 05:30 pm</option>
                      <option> 06:00 pm</option>
                      <option> 06:30 pm</option>
                      <option> 07:00 pm</option>
                      <option> 07:30 pm</option>
                      <option> 08:00 pm</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6  flex-column">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">From Date :</label>
                    <input type="date" class="form-control" style="color: #c0c0c1;" id="recipient-name">
                  </div>
                </div>
                <div class="col-lg-6  flex-column">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">To Date :</label>
                    <input type="date" class="form-control" style="color: #c0c0c1;" id="recipient-name">
                  </div>
                </div>
                <div class="col-lg-12  flex-column">
                  <div class="form-group">
                    <label for="message-text" class="col-form-label ">Schedule Details :</label>
                    <textarea class="form-control" style="height: 100px;  color: #c0c0c1;" id="message-text"></textarea>
                  </div>
                </div>
                
              </div>
              
          
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save schedule</button>
            <button type="button" class="btn btn-light" onclick="closeModal()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    function showModal() {
      var modal = document.getElementById('add-schedule');
      modal.classList.add('show');
    }
  
    function closeModal() {
      var modal = document.getElementById('add-schedule');
      modal.classList.remove('show');
    }
  </script>


{% endblock %}